extends ./../layout
block content
 div(style="margin-top:50px") 
  div.alert.alert-info Visit Home Page 

  .container(style='width:90%')
    div(ng-app="myApp")
      if (recordId) 
        - Config['recordId'] = recordId
      else
        - recordId = Config['recordId']

      - var url = Config['url']
      - var init = "initialize(" + JSON.stringify(Config) + ")";

      //
        h5 me: #{JSON.stringify(me)}
        h5 user: #{JSON.stringify(Config['user'])}
        h5 clinic: #{JSON.stringify(Config['clinic'])}
        h5 patient: #{JSON.stringify(Config['patient'])}

      div(ng-controller="Nto1Controller")
       div(ng-controller="VisitController" ng-init="#{init}" ngcloak)

        div#topMessage

        form#Queue(ng-submit="queue()")
          table.table(width='100%')
            tr
              td.col-md-4
                table
                  tr
                    td 
                      b {{ timestamp}}
                  tr
                    td 
                      b(data-toggle="tooltip" title="Currently logged in user") Clinician: {{ user }}
                  tr
                    td 
                      hr
                  tr
                    td
                      b {{ clinic.name }} [ {{ clinic.id }} ]
                  tr 
                    td {{ clinic.address }}
              td.col-md-4(align='center')
                table
                  tr
                    td
                      b Patient
                    td
                      b {{ patient.name }} [ {{ patient.gender }} - {{ patient.age }} yrs ]
                  tr
                    td
                      b Birthdate: 
                    td 
                      b {{ patient.birthdate }}
                  tr
                    td 
                      hr
                  tr
                    td &nbsp;
                  tr
                    td
                      a.btn.btn-warning.btn-xs(
                        tabindex="0"
                        data-trigger='focus' 
                        data-toggle="popover"
                        data-html="true"
                        data-placement="left"
                        ng-click="loadPatientHistory()"
                        data-title="Patient History" 
                        data-content="Dynamically load detailed Patient Vaccination History 1...."
                        ) View Patient History
              td.col-md-4(align='right')
                div(ng-if="patient.id")
                  table.table(ng-init="loadTravel()")
                    tr
                      td 
                        b Residence: 
                      td(colspan=2) {{ patient.location }}
                    tr.active
                      td &nbsp;
                      td(colspan=3) 
                        b Travel Plans: &nbsp;
                        a.btn.btn-success.btn-xs(ng-click="addTravel()" onclick="alert('Add modal to Manage travel plans')") +
                    tr(ng-repeat="itin in travel")
                      td 
                        b {{itin.region}}
                      td {{itin.start}}
                      td {{itin.finish}}
                      td 
                        button.btn.btn-danger.btn-xs(ng-click="deleteTravel($index)") x
                    tr
                      td &nbsp;
                      td(colspan=2)
                        a.btn.btn-primary.btn-xs(
                          tabindex="0"
                          data-trigger='focus'
                          data-toggle='popover'
                          data-html="true"
                          data-placement='left' 
                          ng-click="loadScheduledVaccinations()" 
                          title="Load Scheduled Vaccinations" 
                          data-content="This would dynamically load suggested vaccinations by retrieving via API all pending suggested vaccinations based on:<UL><LI>vaccination history</LI><LI>patient age</LI><LI>location</LI><LI>scheduled travel itinerary</LI></UL><P><B>Vaccines added below for Example Only</B></P>"
                          ) Load Suggested Vaccines
                      td &nbsp;
                div(ng-if="!patient.id")
                  table.table(ng-init="loadQueue()")
                    tr
                      td 
                        u 
                          b Queued Patients
                    tr(ng-repeat="visit in queued")
                      td
                        a.btn.btn-primary(href="/visit/home/{{visit.id}}", ng-click="loadPatient(patient.id)") {{visit.patient}} [ {{ visit.age }}]
       
          hr(style='border-width:thick; border-color:black;')
       
          h3 {{items.length}} Immunization(s) Scheduled:

          div(ng-if="items.length")
            table.table
              tr.active
                td &nbsp;
                td Status
                td Vaccine
                td Disease
                td Reaction
                td Side Effects
                td Contraindications
                td Recommendation
                td History
              tr(ng-repeat="q in items")
                td
                  button.btn.btn-danger.btn-xs(type='button' value="Delete" ng-click="deleteItem($index)") X
                  span &nbsp;
                  span(ng-if="q.status != 'Applied'")
                    button.btn.btn-success.btn-xs(type='button' data-toggle='modal' data-target='#editImmunizationModal' ng-click="activateIndex($index)") Apply            
                  span(ng-if="q.status == 'Applied'")
                    button.btn.btn-warning.btn-xs(type='button' data-toggle='modal' data-target='#editImmunizationModal' ng-click="activateIndex($index)") Edit            
                    i.glyphicon.glyphicon-ok.navbar-right
                td {{ q.status }}
                td {{ q.Vaccine }}
                td {{ q.Disease }}
                td 
                  div(ng-if="q.reactions") 
                    i.fa.fa-warning
                  div(ng-if="q.status == 'Applied' && !q.reactions")
                    span no
                  div(ng-if="q.status != 'Applied'")
                    span &nbsp;
                td {{ q.known_side_effect }}
                td {{ q.Contraindications }}
                td {{ q.recommendation }}
                td 
                  a.btn.btn-warning.btn-xs(
                    ng-click="loadPatientHistory(vaccine.id)"
                    tabindex="{{$index}}"
                    data-trigger='focus' 
                    data-toggle="popover" 
                    data-title="Patient History" 
                    data-content="Dynamically load detailed Patient Vaccination History for this vaccine...."
                    )  
                    i.fa.fa-info-circle &nbsp; 
                  

        - var clearSearch = "document.getElementById('smartSearch').style.display='none'; document.getElementById('showSS').style.display='block';";
        hr(style='border-width:thick; border-color:black;')
        div#insideScan(style='padding:10px') 

          form#scanForm()
            div.input-group
              span.input-group-addon 
                //button.btn.btn-xs.btn-danger#hideSS(onclick="document.getElementById('smartScan').style.display='none'; document.getElementById('showScan').style.display='block';") x
                span &nbsp;
                button.btn.btn-primary.btn-xs(type='button' ng-click="addBarcodedVaccine()") Add Vaccine(s) &nbsp;
              
              input.form-control(type='text' placeholder='-- Scan Vaccine Barcode(s) Here --')
    
        include ./../Nto1/smartSearch.jade
        div 
          div.modal.fade#editImmunizationModal
            div.modal-dialog
              div.modal-content
                div.modal-header
                  button.close(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
                  h4.modal-title Apply Immunization
                div.modal-body
                  include editImmunization.jade
                  hr
                  div#insideModal
                div.modal-footer
                  button.btn.btn-default(type="button button-danger" data-dismiss="modal") Close